body {
  margin: 0;
  box-sizing: border-box;
}
.section{
  display: table;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
}