body {
  margin: 0;
  box-sizing: border-box;
}
.container {
	max-width: 940px;
}
.maps {
	position: relative;
}
.contacts {
	position: absolute;
	top: 0;
	width: 380px;
	height: 430px;
	padding: 40px 60px;
	background-color: #c60b0b;
	color: #ffffff;
	text-align: center;
}
.contacts h1 {
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: normal;
}
.contacts p {
	margin-bottom: 30px;
	font-size: 18px;
}
.phone-link {
	display: block;
	margin-bottom: 35px;
	color: #ffffff;
	font-size: 18px;
}
.mail-link {
	display: block;
	color: #ffffff;
	font-size: 18px;
	text-decoration: underline;
}
footer {
	padding: 20px 0;
}
.media-heading {
	font-size: 16px;
}
.footer-features {
	margin-top: 15px;
	font-size: 14px;
	text-align: center;
}
.footer-contacts {
	padding: 0;
	text-align: right;
}
.footer-phone {
	font-size: 22px;
	color: #000000;
	font-weight: bold;
}
.footer-address {
	font-size: 14px;
}